In [14]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from tkinter import *
import numpy as np

In [18]:
data_train = pd.read_csv("data_train.csv",dtype={'colx': int})
data_train[['year', 'month', 'day']] = data_train['data'].str.split(' ', expand=True).astype(int)
data_train.head()

,colx,Unnamed: 1,colx 4,colx 6,colx 7,colx 8,colx 9,colx 10,colx 11,colx 12,data,year,month,day
0,16,NaN,2567,518504,4,504,31,426 447,16.0,428.0,2024 06 16,2024,6,16
1,1,NaN,2567,530593,93,593,42,421 734,194.0,364.0,2024 06 01,2024,6,1
2,16,NaN,2567,205690,90,690,60,070 137,747.0,885.0,2024 05 16,2024,5,16
3,2,NaN,2567,980116,16,116,17,634 833,104.0,763.0,2024 05 02,2024,5,2
4,16,NaN,2567,943598,98,598,79,154 200,727.0,729.0,2024 04 16,2024,4,16

In [20]:
day = data_train[["year","month","day"]].values
six = data_train[["colx 6"]].values
first_3 = data_train[["colx 12"]].values
first_3 = first_3.astype(int)

two = data_train[["colx 9"]].values
two.astype(int)

first_3 = first_3 / np.max(first_3)
two = two / np.max(two)

C:\Users\window_goat\AppData\Local\Temp\ipykernel_10976\4287449420.py:4: RuntimeWarning: invalid value encountered in cast
  first_3 = first_3.astype(int)

In [22]:
def model_LinearRegression(d, m, y, data1, data2):
    model = LinearRegression()
    model.fit(data1, data2)
    predict = model.predict([[d, m, y]])
    return predict[0]

# Example usage
iD = int(input("Day: "))
iM = int(input("Month: "))
iY = int(input("Year: "))
sur = str(input("this code is demo so dataset and code have a some bug. you want to run : yes or no"))
if sur == "yes":
    print("\nเลขท้าย 6 ตัว: %06d" % model_LinearRegression(iD, iM, iY, day, six)[0])
    print("เลขหน้า 3 ตัว: %03d" % model_LinearRegression(iD, iM, iY, day, first_3)[0])
    print("เลขท้าย 2 ตัว: %06d" % model_LinearRegression(iD, iM, iY, day, two)[0])
else :
    print("ok")


# Assuming 'day', 'main_train', and other datasets are correctly preprocessed

เลขท้าย 6 ตัว: 160907300
เลขหน้า 3 ตัว: -144266519
เลขท้าย 2 ตัว: 000000

In [ ]:

file_path = 'data_train.csv'

data = pd.read_csv(file_path)
data.head()
# Convert 'converted_date' to separate numerical columns
data[['year', 'month', 'day']] = data['data'].str.split(' ', expand=True).astype(int)

# Drop the original 'converted_date' column
data = data.drop(columns=['data'])

# Extract the relevant features
main_train = data[["colx 4"]].astype(float)
first_3 = data[["colx 11"]].astype(float)
last_3 = data[["colx 12"]].astype(float)
last_2 = data[["colx 9"]].astype(float)

# Function to predict using Linear Regression
def model_LinearRegression(d, m, y, data1, data2):
    model = LinearRegression()
    model.fit(data1, data2)
    predict = model.predict([[d, m, y]])
    return predict[0]

# Example usage
iD = int(input("Day: "))
iM = int(input("Month: "))
iY = int(input("Year: "))

# Assuming 'day', 'main_train', and other datasets are correctly preprocessed
print("\nเลขท้าย 6 ตัว: %06d" % model_LinearRegression(iD, iM, iY, main_train, last_3)[0])
print("เลขหน้า 3 ตัว: %03d" % model_LinearRegression(iD, iM, iY, main_train, first_3)[0])
print("เลขท้าย 6 ตัว: %06d" % model_LinearRegression(iD, iM, iY, main_train, last_3)[0])
print("เลขท้าย 3 ตัว: %03d" % model_LinearRegression(iD, iM, iY, main_train, last_3)[0])
print("เลขท้าย 3 ตัว 2: %03d" % model_LinearRegression(iD, iM, iY, main_train, last_2)[0])

In [ ]:
data.head()